# Define mpdecision device
type device_latency, dev_type;

# Added for fm_radio device
type fm_radio_device, dev_type;

# Define cg2900 device
type cg2900_device, dev_type;

# Define rfkill device
type rfkill_device, dev_type;

type mmc_block_device, dev_type;
type modem_block_device, dev_type;

# Define bluetooth device
type bluetooth_device, dev_type;

# Define AT USB device - used by ATC
type at_device, dev_type;

# Added for PWR QOS devices
type pwr_device, dev_type;

# GPS device
type gps_device, dev_type;

type cpuctl_device, dev_type;