allow fsck block_device:blk_file rw_file_perms;
allow fsck mmc_block_device:blk_file { ioctl open read write };
allow fsck block_device:blk_file { open read write };