type goldenparts_sysfs, file_type;
allow init kernel:system module_request;
allow init tmpfs:lnk_file create_file_perms;
allow init cpuctl_device:file create_file_perms;
allow init shell_exec:file x_file_perms;
allow init system_file:file { x_file_perms execmod };
allow init system_data_file:file rw_file_perms;
allow init socket_device:sock_file create_file_perms;
allow init audio_device:chr_file r_file_perms;
allow init shell_data_file:dir w_dir_perms;
allow init shell_data_file:sock_file create_file_perms;
allow init device:chr_file rw_file_perms;
#allow init init:netlink_socket { create_file_perms setopt bind };
allow init block_device:blk_file write;
allow init radio_device:chr_file write;
allow init ram_device:blk_file write;
allow init self:capability sys_nice;
allow init self:netlink_socket { bind create read setopt write };
allow init shell_data_file:file { create lock open read setattr write };
allow init sysfs:lnk_file setattr;
allow init system_data_file:file rename;
allow init shell_data_file:file unlink;

