allow logpersist sysfs:file create_file_perms;
allow logpersist system_data_file:dir { add_name write create_dir_perms };
allow logpersist system_data_file:file create_file_perms;
