allow mediacodec sysfs:file r_file_perms;
allow mediacodec system_file:file execmod;
allow mediacodec hal_configstore_default:binder call;
allow mediacodec hal_configstore_ISurfaceFlingerConfigs:hwservice_manager find;
