allow untrusted_app_25 device:chr_file { getattr ioctl open read write };
allow untrusted_app_25 sysfs:dir { open read };
allow untrusted_app_25 system_file:file execmod;