typeattribute adm_socket data_file_type;
typeattribute goldenparts_sysfs data_file_type;
typeattribute goldenparts_sysfs sysfs_type;
typeattribute admsrv_exec system_file_type;
typeattribute at_distributor_exec system_file_type;
typeattribute atd_exec system_file_type;
typeattribute bluetoothd_exec system_file_type;
typeattribute bluetoothd_main_exec system_file_type;
typeattribute bluetoothd_snoop_exec system_file_type;
typeattribute cn_server_exec system_file_type;
typeattribute conn_init_exec system_file_type;
typeattribute copsd_exec system_file_type;
typeattribute gpsd_exec system_file_type;
typeattribute hci_attach_exec system_file_type;
typeattribute modem-help_exec system_file_type;
typeattribute psccd_exec system_file_type;
typeattribute radio_data_file system_file_type;
typeattribute simd_exec system_file_type;
typeattribute sms_server_exec system_file_type;
typeattribute suntrold_exec system_file_type;
typeattribute tad_exec system_file_type;
typeattribute adm_socket core_data_file_type;
typeattribute goldenparts_sysfs core_data_file_type;
typeattribute gps_data_file core_data_file_type;
typeattribute tad_data_file core_data_file_type;
