allow gallery_app device:chr_file { getattr ioctl open read write };
allow gallery_app sysfs:dir { open read };
allow gallery_app system_file:file execmod;