allow crash_dump selinuxfs:file r_file_perms;
allow crash_dump ueventd:process ptrace;
allow crash_dump system_bootstrap_lib_file:file r_file_perms;