# Modemfs
type modem_file, fs_type;
allow modem_file { rootfs labeledfs }:filesystem associate;

type adm_socket, file_type;
type sub_etc_file, file_type;
type etc_file, file_type;
type debug_file, file_type;
type tmp_file, file_type;
type acct_file, file_type;
type uid_file, file_type;
type at_socket, file_type;
type cn_socket, file_type;
type cops_socket, file_type;
type modem_socket, file_type;
type pscc_socket, file_type;
type simd_socket, file_type;
type sms_server_socket, file_type;
type tad_socket, file_type;
type gps_socket, file_type;

type tad_data_file, file_type, data_file_type;
type sysfs_devices_system_iosched, file_type, sysfs_type;
type proc_dirty_ratio, fs_type, proc_type;
type sysfs_writable, fs_type, sysfs_type, mlstrustedobject;
