# init_shell
type init_shell, domain;
type init_shell_exec, exec_type, file_type;

# Started by init
init_daemon_domain(init_shell)

allow init_shell init_shell:process { execmem };
