# STE, SIM daemon
type simd, domain;
type simd_exec, exec_type, file_type;
init_daemon_domain(simd)

allow simd self:capability { dac_override net_admin setuid sys_admin };
allow simd self:{ netlink_socket socket } create_socket_perms;
allow simd sysfs:file write;
allow simd tee_device:chr_file rw_file_perms;
file_type_auto_trans(simd, socket_device, simd_socket)
file_type_auto_trans(simd, system_data_file, radio_data_file)
